{% extends "personal/header.html" %}
{% block sitename %}<a href="/forum">LunaSquee Forums</a>{% endblock %}
{%block title%}LunaSquee Forums{%endblock%}
{% block content %}
<!-- Forums  -->
<div class="forumnavigator">
    <a href="/forum" class="instance" style="z-index: 4;">Forum index</a>
</div><br>
{% for section in sections %}
<span class="sectiontitle">{{section.title}}</span>
<span class="forumdescription">{{section.description|safe}}</span>
<div id="list">
    <table border="0" cellpadding="4" width="100%">
        <tr>
            <th class="indic">&nbsp;</th>
            <th>Forum</th>
            <th class="count_part">Topics</th>
            <th class="count_part">Posts</th>
            <th>Last post</th>
            {% if "forum.change_forum" in perms %}
            <th>Actions</th>
            {% endif %}
        </tr>
        {% for forum in section.forums %}
            <tr>
                <td class="indic{% if forloop.last %} last{% endif %}">
                    <span>
                    {% if forum.closed %}
                        <i class="fa fa-lock" title="This forum is locked"></i>
                    {% else %}
                        <i class="fa fa-user" title="Registered users can post here"></i>
                    {% endif %}
                    </span>
                </td>
                <td {% if forloop.last %}class="last"{% endif %}>
                    <div class="title"> <a href="{% url 'forum-detail' forum.pk forum.slug %}">{{ forum.title }}</a><br>
                    <span>{{forum.description}}</span></div>
                </td>
                <td class="count_part" {% if forloop.last %}class="last"{% endif %}>{{ forum.num_topics }}</td>
                <td class="count_part" {% if forloop.last %}class="last"{% endif %}>{{ forum.num_posts }}</td>
                <td {% if forloop.last %}class="last"{% endif %}>
                {%if forum.last_post %}
                    <a href="{% url 'topic-detail' forum.last_post.topic.pk forum.last_post.topic.slug %}?find_post={{forum.last_post.pk}}">{{ forum.last_post.title }}</a><br><span class="createdby">By <a href="{%url 'view_other_profile' forum.last_post.creator%}">{{forum.last_post.creator.profile.displayable_name}}</a> on {{forum.last_post.created|date:"l, N d Y, H:i"}}</span>
                {%else%}
                    <small><i>Nobody has posted here yet!</i></small>
                {%endif%}
                </td>
                {% if "forum.change_forum" in perms %}
                    <td class="actions{% if forloop.last %} last{% endif %}">
                        {% if "forum.can_lock_forum" in perms %}
                            <a href="{% url 'forum-close' forum.pk %}" title="Lock forum"><i class="fa fa-lock fa-fw"></i></a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endfor %}
{% endblock %}
