{% extends "personal/header.html" %}
{% block title %}LunaSquee - Blog{% endblock %}
{% block content %}
	{% if user.is_superuser %}
		<a href="{% url 'new_post' %}" class="button replybtn">New entry</a>
	{% endif %}
	<h2>LunaSquee's Blog</h2>
	{% for post in object_list %}
	<div class="blog_post">
		<span class="title"><a href="{% url 'view_blog_post' post.id %}">{{post.title}}</a></span>
		<span class="date">{{ post.date|date:"d/m/Y H:i:s" }}</span>
		<div class="postbody">{{post.body|safe|linebreaks}}</div>
	</div>
	{% endfor %}
{% endblock %}