{% extends "personal/header.html" %}
{% block title %}LunaSquee - About Me{% endblock %}
{% block content %}
<h1>About me</h1>
<p>Hello there, I am a dude called LunaSquee <sup>[or (Icy)Diamond]</sup>, also known as Evert in real life. I enjoy watching My Little Pony : Friendship is Magic, web design and coding completely random and mostly useless stuff. I am in a relationship with a wonderful girl called <a href="http://daylight-dream.deviantart.com/" target="_blank">DaylightDream</a> &lt;3</p>
<h2>Me as a coder</h2>
<p>I have been writing code since the age of 10. I got into coding thanks to a game called <a href="http://www.roblox.com/" target="_blank">ROBLOX</a>, where you build things with blocks and use the lua scripting language to do neat stuff with your builds.</p>
<p>I got into web design at the age of 12 thanks for a ROBLOX fan site called LuaLearners, which made me want to create my own site. 
So, first I learned HTML on my own by looking at the site's code (using view-source) and it seemed pretty easy to me.
My first website was hosted on a free web hosting service (I can't remember the name of it) and it didn't have much to it. After that I got into the basics of PHP to add some functionality to my site (A login system, which was rather terrible and used a lot of resources) and I didn't know much about JavaScript back then.</p>
<p>I can currently code well in HTML5, JavaScript, Python and Java. I also know the basics of C++.</p>
<h2>About this website</h2>
<p>This website was originally made as a school project.</p>
<p>This website runs on a <a href="https://www.raspberrypi.org/products/raspberry-pi-2-model-b/" target="_blank">Raspberry Pi 2</a>. It uses the Python web framework <a href="https://docs.djangoproject.com/en/1.9/">Django</a> to operate.</p>
<p>This site contains some of LunaSquee's projects and other <a href="/public/">random stuff</a>.</p>
<h2>Contact me</h2>
You can <a href="mailto:lunasquee@djazz.se">send me an email</a> or reply to a topic of mine on the forums.</p>
{% endblock %}