{% extends "personal/header.html" %}

{% block content %}
<h1>Welcome to my website!</h1>
<p>This is the homepage of Evert's website.</p>
<a class="twitter-timeline" href="https://twitter.com/Moonstar_Starry" data-widget-id="605791882388500480">Tweets by @Moonstar_Starry</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock %}